/* Calendar container styles */
.calendar-container {
  height: 90vh;
  border: 2px solid #4a5568; /* gray-700 */
  padding: 24px;
  background: linear-gradient(to bottom right, #2d3748, #1a202c, #000000); /* Gradient background */
  color: #48bb78; /* green-400 */
  margin: 24px;
  border-radius: 12px; /* rounded-xl */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* Calendar styling */
.calendar {
  border-radius: 8px;
  color: #e2e8f0; /* gray-400 */
}

/* Customizing the calendar header and event style can also be done here, e.g. */
.rbc-header {
  background-color: #2b6cb0; /* blue-700 */
  color: white;
}
.rbc-event {
  background-color: #48bb78; /* green-400 */
  color: #000;
  border-radius: 4px;
}

.rbc-day-bg{
  background-color: gray ;
}
